body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(8, 17, 94);
    font-family: "Barlow Condensed", sans-serif;
    background-image: url(../Img/FundoNovo\ \(1\).png);
}

.container{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    width: 100%;
    height: 100vh;
    align-items: center;
}

.lateral{
    width: 3%;
    height: 95%;
    background-color: rgb(239 194 32);
    border-radius: 0 3px 3px 0;
}

.boxUm{
    width: 49%;
    display: flex;
    justify-content: center;
}

.text{
    width: 65%;
    display: flex;
    align-items: center;
}

.text p{
    color: white;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
}

.boxDois{
    background-color: rgb(239 194 32);
    padding: 20px;
    border-radius: 2px;
    width: 44%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#form{
    /* display: grid; */
    /* gap: 30px; */
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

#form p{
    color: rgb(0 10 102);
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    margin-bottom: 10px;
}

.input-group {
    flex: 1 1 calc(50% - 20px); /* Adjusts the width of each input group to take half of the container's width minus gap */
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    color: rgb(0, 10, 102);
    margin: 0;
    font-weight: 500;
    margin-bottom: 5px;
}

input {
    border: none;
    padding: 10px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 90%;
    /* margin-bottom: 10px; */
}

.boxTres{
    display: flex;
    justify-content: center;
    width: 100%;
}

.button{
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    border: none;
    background-color: rgb(18, 27, 109);
    border-radius: 3px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover{
    background-color: rgb(40, 49, 136);
    color: aliceblue;
    transition: all 0.2s;
}

span{
    display: none;
    color: #e63636;
    font-size: 14px;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 2px;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    /* margin-left: -125px; */
    background-color: #b5ff9f;
    color: rgb(40, 49, 136);
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}